@media (max-width:773px){
  .backgroundimg{
    display: none;
  }
  
.mobileviewproduct{
  width:100%;
}
}
*{
  overflow-x: hidden;
  color:#032D23;
  
}
.mobileviewproduct{
  width:40%;
  height:auto;
}
.row{
  width:auto;
}
dl,ol,ul{
  margin-bottom: 0px;
}
.navpos{
  position:sticky;
}
.card-title{
  overflow:hidden;
}
.card-body{
  overflow:hidden;
}
.contentsstartimage{
  margin-top:3rem;
}
.carousel-caption{
  background-color: black;
}
.card-text{
  color:black;
}
.carousel-caption h3,p{
  opacity:1;
  color:white;
  overflow-y: hidden;
}
.searchbarnavbar{
  /* padding-left:20% ;
  padding-right:20%; */
  margin-top:1rem;
}
.logoheading{
  float:right;
  margin-top:0.5rem;
  margin-left:0.8rem;
  overflow: hidden;
}

.iconlistheading{
  color:black;
  animation:fadecolor 6s infinite;
}
@keyframes fadecolor {
  from {color:black;}
  to {color:white;}
}
.fit{
  object-fit: contain;
}
.mainfooter {
  color: white;
  background-color: black;
  padding-top: 3rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footerhr{
  border:white;
  border-width: 4px solid white;
  background-color: white;
}
.footerhead{
  color:white;
  font-family:Poppins;
  overflow:hidden;
  text-decoration: none;
}
.iconslist{
  background-color: #FCE97F;
  align-items: center;
  animation: fadebackground 6s infinite;
}
/* .iconslist:hover{
  transition: 2s;
  background-color:#89C74A;
  color:white;
  animation: fadebackground 6s infinite;
} */
@keyframes fadebackground {
  from {background-color: #FCE97F;color:black;}
  to {background-color: #2EB07B;color:white;}
}
h1,h2,h3,h4,h5,h6,p{
  overflow:hidden;
}
.logoinnav{
  margin-left: 2rem;
  height:40px;
  width:40px;
}
.user-icon{
  margin-left:50%;
}
div .form-div{
  padding-left:20%;
  padding-right:20%;
  padding-top:10%;
  min-height:25vh;
}
div .form-div
{
  padding-left:20%;
  padding-right:20%;
  padding-top:5%;
  min-height:25vh;
}
div .welcome-div{
  padding-top: 5%;
  margin-bottom: 60px;
}
.brand{
  padding-top:3%;
  padding-left:3%;
}
h1{
  font-size:3.75rem;
  font-family: 'Playfair Display', serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', serif;
}
h2{
  font-size:1.5rem;
  display:inline;
  margin-top:20px;
  font-family: 'Playfair Display', serif;
}
.logo{
  margin-right: 15px;
}
.backgroundimg{
  position:relative;
  height:100vh;
  object-fit: cover;
  overflow: hidden;
}
span{
  color:#AAA713;
}
.new-acc{
  margin-top: 20px; 
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }